body{
    background-image: url("https://images4.alphacoders.com/132/1329468.png");
    background-repeat: no-repeat;
    background-size: cover; 
}
.titulo{
    color: white;
    text-align: center ;
    margin-bottom: 50px;
}


.contenedor{
    border: 2px solid white;
    border-radius: 20px;
    max-width: max-content;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    padding: 30px;
    box-shadow: rgba(255, 255, 255, 0.4) 5px 5px, rgba(255, 255, 255, 0.3) 10px 10px, rgba(255, 255, 255, 0.2) 15px 15px, rgba(255, 255, 255, 0.1) 20px 20px, rgba(255, 255, 255, 0.05) 25px 25px;


}
